{%extends "base.html"%}

{%block content%}
<section class="section">
    <div class="container">
        <h1 class="section-title">about Plant paradise</h1>
        <p style="color: #4b8040 ;">
             "Plant Paradise" is a digital gateway to the charm of indoor plants
             In a world that offers botanical treasures
             A curated selection to enhance interior spaces and
             To enrich the lives of plant lovers. ours
             At the heart of the website lies a profound vision of transforming nature
             About electricity, "Plant Paradise" offers indoor plants
             A diverse range that allows
             Let individuals build their own personal oasis within them
             in living space.Plants are living organisms that are deep
             affect our physical and mental well-being.
             due to their air purifying properties, soothing presence and
             Thanks to their ability to reduce stress, indoor plants have
             Power to turn our homes into peace and
             As sanctuaries of vitality. "Plant Paradise"
             provides this well-being booster
             Access to benefits that promote indoor living
             holistic approach."Plant paradise" serves people who have
             A passion for bringing nature into homes, offices and living spaces
             
        </p>
        <div class="jumbotron jumbotron-fluid text-white" style="background-color: #4b8040; padding: 60px;">
            <div class="container">
            <h1 class="display-4">Plant paradise</h1>
            <p class="lead">""Offering a curated selection of botanical treasures to enhance indoor spaces and enrich the lives of plant lovers""</p>
            <p class="lead">Giorgi Tomaradze, Founder</p>
            </div>
        </div>
        <br>
        <p style="color: #4b8040 ;">
             Our platform is tailored to the following target
             On demographic needs and preferences:
             1. Urban residents: city residents who
             trying to internalize their urban environment
             With the peace and beauty of plants, despite being limited
             Availability of space and outdoor greenery.2. Lovers of home decoration: interior design
             Lovers who look at plants as
             Essential elements of their living space aesthetic
             To enhance the appeal and atmosphere.3. Beginner gardeners: for beginners who want to
             Explore the world of indoor gardening, but you can
             Scared because of the complexity of plant care. Our platform
             provides available resources and guidance;
             To help newbies get started with confidence
             Journey into the world of plants.4. Supporters of sustainability: environmentally conscious
             Consumers who prioritize being environmentally friendly
             Clean products and practices recognize indoor plants,
             as natural air purifiers that help
             A healthier planet.
        </p>
        <div class="jumbotron jumbotron-fluid text-white" style="background-color: #4b8040; padding: 60px;">
            <div class="container">
             <img src="https://media.istockphoto.com/id/1328830397/photo/interior-design-of-retro-living-room-with-stylish-house-plants-cacti-decoration-and-copy.jpg?s=612x612&w=0&k=20&c=8xfwS2lHshI86JxsRn01hz_l_J-7iHIQb97xW-aQp8I=" alt="">   
             <br><br>
             <p class="lead">Interior spaces often lack vitality and freshness.
                Which is what houseplants naturally have. Challenge
                is to revolutionize people
                in perceiving and interacting with their interior spaces carefully
                By introducing the transformative power of selected plants</p>
            </div>
    </div>

</section>
{%endblock%}