<div class="container mt-4">
    <div class="row justify-content-center">
    <div class="col-md-4">
    <div class="card">
    <img src="https://d2j6dbq0eux0bg.cloudfront.net/images/83115755/4115104172.webp" class="card-img-top" alt="Image description">
    <div class="card-body">
    <h5 class="card-title">Dieffenbachia</h5>
    <p class="card-text">It is a perennial, leafy plant that does not like direct sunlight</p>
    <a href="/products" class="btn btn-primary">Shop Now</a>
    </div>      </div>    </div>    <div class="col-md-4">
    <div class="card">
    <img src="https://d2j6dbq0eux0bg.cloudfront.net/images/83115755/4115094883.webp" class="card-img-top" alt="Image description">
    <div class="card-body">
    <h5 class="card-title">Aglaonema</h5>
    <p class="card-text">It is a tropical shrub house plant does not like direct sunlight</p>
    <a href="/products" class="btn btn-primary">Shop Now</a>
            </div>
    </div>
    </div>
    </div>
    </div>